@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "Roboto Flex";
    src: url(/fonts/RobotoFlex-VariableFont.ttf);
}

@font-face {
    font-family: "NotoKufi";
    src: url(/fonts/NotoKufiArabic-VariableFont.ttf);
}

@theme {
    --breakpoint-xs: 21.5rem;
    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 140rem;
    --breakpoint-5xl: 160rem;
    --breakpoint-6xl: 180rem;
    --breakpoint-7xl: 200rem;
    --breakpoint-8xl: 220rem;
    --breakpoint-9xl: 240rem;
    --breakpoint-10xl: 260rem;
    --breakpoint-11xl: 280rem;
}

:root {
    /* colors */
    --color-darker-dark-theme: #70003c;
    --color-darker-light-theme: #003489;
    --light-theme-accent-color: #3b82f6;
    --dark-theme-accent-color: #fc359f;
    --low-dark-theme-accent-color: #fc359f3f;





    --neutral-theme-color: #c2c2c2;

    --dark-text-color: #cecece;
    --light-text-color: black;

    --dark-bg-color: #181818;
    --light-bg-color: #F7F8F8;

    --light-gradient-color: #0d079e;
    --dark-gradient-color: #DB3B90;
    --cross-gradient-color: #0deac5;

    --dark-surface-bg-color: #121212;
    --light-surface-bg-color: #F0F1F2;

    --dark-active-surface-bg-color: #1f1f1f;
    --light-active-surface-bg-color: #e6e6e6;

    --color-high-priority: #ef4444;
    --color-medium-priority: #ffae00;
    --color-low-priority: #9ca3af;


    /* Framer Motion */
    --radius: 0.625rem;
    --background: white;
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

@layer components {

    html,
    body {
        @apply w-full h-full m-0 p-0;


    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #8b8b8b transparent;
    }


    html {
        font-family: "Roboto Flex";
        @apply text-[17px] xl:text-[18px] 2xl:text-[23px] 3xl:text-[28px] 4xl:text-[33px] 5xl:text-[37px] 6xl:text-[45px] 7xl:text-[50px] 8xl:text-[54px] 9xl:text-[58px] 10xl:text-[63px] 11xl:text-[68px];
    }

    html[theme="dark"] {
        @apply scheme-dark;
    }

    html[theme="light"] {
        @apply scheme-light;
    }

    html:lang(ar) {
        font-family: "NotoKufi";
    }

    button {
        @apply cursor-pointer;
    }

    button:disabled {
        @apply cursor-default;
    }

    h1,
    h2,
    h3 {
        @apply font-bold
    }

    h1 {
        @apply text-[3rem] text-center;
    }

    h2 {
        @apply text-[2rem];
    }

    h3 {
        @apply text-[1.35rem]
    }

    input[type="checkbox"] {
        @apply cursor-pointer;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2.8rem, 1fr));
        grid-auto-rows: auto;
    }

    .light-glass {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    }

    .dark-glass {
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(15px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    }


    @media screen and (min-width: 768px) {
        .frosted-glass {
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    @keyframes gradient-animation {
        0% {
            background-position: left;
        }

        100% {
            background-position: right;
        }
    }

    .animate-radial {
        animation: gradient-animation 1.5s forwards;
    }

    @keyframes in-opacity-animation {
        0% {
            opacity: 30%;
        }

        100% {
            opacity: 100%;
        }
    }

    @keyframes out-opacity-animation {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 30%;
        }
    }

    .animate-in-opacity {
        animation: in-opacity-animation 0.3s forwards;
    }

    .animate-out-opacity {
        animation: out-opacity-animation 0.2s forwards;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}