@import "tailwindcss";
@font-face {
    font-family: "Roboto Flex";
    src: url(/fonts/RobotoFlex-VariableFont.ttf);
}
@font-face {
    font-family: "NotoKufi";
    src: url(/fonts/NotoKufiArabic-VariableFont.ttf);
}
:root{
    /* colors */
    --dark-theme-accent-color:#fc359f;
    --light-theme-accent-color: #3b82f6;
    
    --cross-theme-color: #F0F1F2;
    
    --dark-text-color: #cecece;
    --light-text-color: black;
    
    --dark-bg-color: #181818  ;
    --light-bg-color:#F7F8F8;
    
    --light-gradient-color:#0d079e;
    --dark-gradient-color: #DB3B90;
    --cross-gradient-color:#94BBE9;
    
    --dark-surface-bg-color:#121212;
    --light-surface-bg-color:#F0F1F2;
    
    --dark-active-surface-bg-color:#1f1f1f;
    --light-active-surface-bg-color:#e6e6e6;

}

@layer components{
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        scrollbar-width: thin;
        font-size: 17px;
        
    }
    html{
        font-family: "Roboto Flex";   
    }
    html:lang(ar){
        font-family: "NotoKufi";  
    }
    h1,h2,h3{
        font-weight: bold;
    }
    h1{ font-size: 3rem; text-align: center;}
    h2{ font-size: 2rem;}
    h3{ font-size: 1.35rem}

    input[type="checkbox"]{
        cursor: pointer;
    }
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button
    {
        appearance: none;
    }
    @media screen and (min-width: 768px) {
        .dark-outterShadow{
            box-shadow: inset 0.05rem 0.05rem 0.5rem rgba(255, 255, 255, 0.5),inset  -0.05rem -0.05rem 0.5rem rgba(247, 248, 248,0.5); 
        }
        .light-outterShadow{
            box-shadow: inset 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.7),inset  -0.05rem -0.05rem 0.5rem rgba(0, 0, 0, 0.7);
        }
    }
}